<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full bg-zinc-500">
      <nav class="flex justify-between p-5 items-center">
        <a class="text-white">Logo</a>
        <a class="bg-zinc-200 px-5 py-2 rounded-md">Login</a>
      </nav>
    </div>

    <div class="p-10 flex justify-center grid bg-zinc-100">
      <h3 class="text-center text-4xl mt-3 mb-10">Login Account</h3>

      <form
        action="/login"
        method="post"
        class="p-10 w-72 bg-zinc-200 text-center"
      >
        <input
          type="email"
          name="email"
          placeholder="enter email"
          class="border-2 border-gray-200 p-2 rounded-md mb-3 outline-none"
        />
        <br />
        <input
          type="password"
          name="password"
          placeholder="enter password"
          class="border-2 border-gray-200 p-2 rounded-md mb-3 outline-none"
        />
        <br />
        <input
          type="submit"
          value="Login Account"
          class="bg-blue-400 px-4 py-2 text-white rounded-md mt-5"
        />
      </form>
    </div>
  </body>
</html>
